.org-builtin {
    /* font-lock-builtin-face */
    color: #006FE0;
}
.org-comment {
    /* font-lock-comment-face */
    color: #8D8D84;
    font-style: italic;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #8D8D84;
}
.org-constant {
    /* font-lock-constant-face */
    color: #D0372D;
}
.org-doc {
    /* font-lock-doc-face */
    color: #036A07;
}
.org-flyspell-duplicate {
    /* flyspell-duplicate */
    text-decoration: underline;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #006699;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #0000FF;
}
.org-string {
    /* font-lock-string-face */
    color: #008000;
}
