<div id="header">
  <h1 class="title">Matthias Paulmier</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="/resume.html">CV</a></li>
  </ul>
</div>
