@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/static/res/fonts/MPLUSRounded1c-Regular.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/static/res/fonts/MPLUSRounded1c-Bold.ttf') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/static/res/fonts/MPLUSRounded1c-Light.ttf') format('ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/static/res/fonts/MPLUSRounded1c-ExtraBold.ttf') format('ttf');
  font-weight: bolder;
}

body {
  font-family: M PLUS Rounded 1c, sans-serif;
  background: #eee;
}

b {
  font-weight: bold;
  color: #5f9165;
}

#preamble {
  margin: 0;
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#preamble h1 {
  background-color: #5f9165;
  color: #eee;
  margin: 8pt 0 20pt 0;
  padding: 5px 0;
  font-size: 200%;
  text-align: center;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
}

#header li {
  float: left;
}

#header li a {
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 6px 14px 6px 16px;
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
}

#header li a:hover {
  transition: border 1s;
  border-bottom: 4px solid #5f9165;
}

#content {
  margin: 0;
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

#content h1, h2 {
  margin: 0;
  padding: 12pt 0 6pt 0;
}

#content h1 {
  text-align: center;
  font-size: 200%;
}

#content h2 {
  font-size: 150%;
}

#content h3 {
  font-size: 120%;
}

#content h4 {
  font-size: 100%;
  font-style: italic;
}

#content h1, h2, h3, h4 {
  color: #5f9165;
}

#content p {
  text-align: justify;
}

#content div.publidate p {
  font-size: 90%;
  font-style: italic;
  color: #666;
  padding: 0;
  margin: 0 0 2em 0;
  line-height: 1.5em;
}

#content h2>a:hover::before {
  content: "→";
  display: block;
  float: left;
  margin: 0 -1.2em 0 -1.2em;
  color:  #ccccd0;
}

#footnotes {
  font-size: 75%;
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px 0 0 0;
  margin-top: 150px;
  border-top: 1px solid #ccc;
}

#postamble {
  max-width: 1000px;
  margin: 20px auto 20px auto;
  padding: 20px 0 0 0;
  font-size: 0.7em;
  color: #99999a;
  border-top: 1px solid #ccc;
}

#postamble p {
  border: 0;
  padding: 0;
  margin: 0;
}

.pagination ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 12pt 0 12pt 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 4pt 0 4pt 0;
}

.org-center {
  text-align: center;
}

.org-center img {
  margin-left: auto;
  margin-right: auto;
  dispaly: block;
}

a {
  text-decoration: none;
  color: #5f9165;
  border-bottom: 1px dashed #5f9165;
}

.footref, .footnum {
  border-bottom: none;
}

.footpara {
  width: 99%;
  text-alignt: left;
  float: right;
  padding: 0;
  margin: 0;
}

.footdef {
  line-height: 3em;
}


Dt {
  float: left;
  width: 5em;
  font-weight: bold;
  text-align: right;
  padding: 4px 0 4px 0;
}

dd {
  margin-left: 6em;
  padding: 4px 0 4px 0;
}

img {
  display: block;
  max-width: 1000px;
  width: auto;
  height: auto;
}

div.splash img {
  border: 2px solid #ccc;
}

figure {
  padding: 0;
  margin: 0;
}

code {
  font-family: 'Source Code Pro', monospace;
}

table {
  border-collapse: collapse;
  border: 0;
}

td, th {
  padding: 4px 10px;
}

caption {
  margin-top: 12pt;
  margin-bottom: 4pt;
}

blockquote {
  font-style: italic;
}

th {
  border-bottom: 2px solid black;
}

pre {
  overflow: auto;
  padding: 12pt;
  background: #eee;
  color: black;
  border: 1px solid #666;
  font-size: 10pt;
  font-family: 'Source Code Pro', monospace;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
}

.post {
  margin: 10pt 0 10pt 0;
  padding: 20pt;
  border: 1px solid #ccc;
}

.morelink {
  font-weight: bold;
}

.tag>span {
  margin-right: 4px;
  float: right;
  font-family: inherit;
  font-size: 0.5em;
  font-style: italic;
  border-style: solid;
  border-width: 1px;
  border-color: #5f9165;
  padding: 3px;
  color: black;
  font-weight: lighter;
}
